<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS CDN Project</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <h1>{{message}}</h1>
        <p v-if="!status">User Not Active</p>
        <p v-else="!status">User Active</p>
        <button @click="clickMe">Update User Status</button>

        
        <ul>
            <li v-for="(task, index) in tasks" :key="task">
                {{task}} - {{index}}
            </li>
        </ul>
        <!-- <a v-bind:href="`${link}`" >Update User Status</a> -->
        <a :href="`${link}`" >Update User Status</a>
    </div>

    <script>
        // function **data that returns an object
        // **method that returns an object
        const app = Vue.createApp({
            data() {
                return {
                    message: 'Vue Options!',
                    status: true,
                    tasks: ['Task A', 'Task B', 'Task C'],
                    link: 'https://google.com'
                };
            },
            methods: {
                clickMe() {
                    console.log('Button Clicked!');
                    this.message = 'Update User'
                    this.status = !this.status;
                },
            },
        });
        app.mount('#app');
    </script>
</body>

</html>